<!DOCTYPE html>
<html lang="en">
{% include 'partials/_head.html' %}
<body class="bg-light">
    {% include 'partials/_navbar.html' %}

    <div class="container mt-4">
        {% include 'partials/_flash_messages.html' %}

        {% include 'partials/_staging_area.html' %}

        {% include 'partials/_url_management.html' %}
        
        {% include 'partials/_url_edit_modals.html' %}

        {% include 'partials/_email_accounts.html' %}

        {% include 'partials/_email_modals.html' %}

        {% include 'partials/_processed_documents.html' %}
        
        {% include 'partials/_document_edit_modals.html' %}
    </div>

    {% include 'partials/_scripts.html' %}
</body>
</html>
